body {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

p, h1, h2, h3, h4, h5, h6, div {
    color: limegreen;
}

.monospace {
    font-family: "monospace";
}

.cheated {
    color: red;
}